{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
{{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
{{ $featured_image := (trim $featured_image "/") | absURL }}
<header class="cover bg-center" style="background-image: url('{{ $featured_image }}'); ">
    <div class="{{ .Site.Params.cover_dimming_class | default "bg-black-60" }} ph5-l ph1">
    {{ partial "site-navigation.html" .}}
    <div class="tc-l pb3 pb3-l">
        <h1 class="f2 f-subheadline fw2 yellow mb0 lh-title">
            {{ .Title | default .Site.Title }}
        </h1>
        {{ with .Params.description }}
        <h2 class="fw1 f5 f3-l yellow mt3">
            {{ . }}
        </h2>
        {{ end }}
    </div>
    </div>
</header>
<!--
<div class="flex justify-between ph5-l ph3">
    <div class="pv3 tc ph1 flex-auto">
        <img src="img/door2.jpg" class="mw-100" style="max-height: 300px"/>
    </div>
    <div class="pv3 tc ph1 flex-auto" style="flex-grow: 1">
        <img src="{{ $featured_image }}" class="mw-100" style="max-height: 300px" />
    </div>
    <div class="pv3 tc ph1 flex-auto">
        <img src="img/cottage.jpg" class="mw-100" style="max-height: 300px"/>
    </div>
</div>
-->
{{ else }}
<header>
    <div class="pb2-m {{ .Site.Params.background_color_class | default "bg-black" }} ph5-l ph1">
    {{ partial "site-navigation.html" . }}
    <div class="pb3 pb3-l">
        <h1 class="f2 f-subheadline fw2 yellow mb0 lh-title">
            {{ .Title | default .Site.Title }}
        </h1>
        {{ with .Params.description }}
        <h2 class="fw1 f5 f3-l yellow mt3">
            {{ . }}
        </h2>
        {{ end }}
    </div>
    </div>
</header>
{{ end }}

{{ range .Site.Params.custom_css -}}
<link rel="stylesheet" href="{{ . | absURL }}">
{{- end }}
